<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
    </head>
    <body style="background-image: url(../static/images/abt.jpg); background-repeat: no-repeat;background-size: auto;">
        <center><h1>ABOUT US</h1></center>
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px; line-height: 30px;">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Snow Valley Resorts is an enchanting hideaway surrounded by breathtaking snow capped Himalayan Mountains and lush green pinewood forests in the picturesque town of Manali, in India’s Himachal Pradesh province. The resorts is the largest in the charming Log Hut area which is just 02 Kilometres from Manali Bus Stand and is surrounded by vast expanse of the apple orchards and offers wonderfully fresh, clean air.</p><br>
        <hr style="height:2px; width: 650px;  color:gray;">
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px; line-height: 30px;"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbspRelax in this elegant luxury mountainside hotel in manali offering 52 rooms and suites that bask in the daytime sunshine creating a warm and welcoming retreat. The tasteful accommodation has local design touches with rich colours, wooden floors and plush furnishings along with modern amenities and optional stunning views.</p><br>
        <hr style="height:2px; width: 650px;    color: wheat;">    
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 18px; line-height: 30px;"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbspThe resort facilities allow guests to dine in style overlooking fabulous landscapes at the Valley View Restaurant, The Orchard and The Terrace. Fun activities take place in the games room and the conference hall can host large events and meetings. Outside the resorts there is a whole range of sports and adventure activities to join from River Rafting and Skiing to Gondola Rides . Hotels in Man</p>
    </body>
</html>