<!DOCTYPE html>
<html>

<head>
    <title>Booking Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>


<body style="background-image: url(../static/images/book.jpg) ; background-repeat: no-repeat; background-size: ;">
    <center>
        <h1>Book Here!!</h1>
    </center>
    <br><br>
</body>
<div class="book">
    <form action="../templates/about.html" >
        <center>
            <label>Name:</label>
            <input type="text" placeholder="Name" required><br><br>
            <label>choose a suite:</label>
            <select>
                <option value="js">Junior Suite</option>
                <option value="ds">Deluxe Suite</option>
                <option value="ts">Terrace Suite</option>
                <option value="vs">Villa</option>
            </select>
        </center>
        <br>
        <br>
        <label>Email ID:</label>
        <input type="email" placeholder="Enter your Email ID" required><br><br>
        <br><br>
        <input type="submit">

    </form>
</div>

</html>