<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard Page</title>
    </head>
    <center><body style="font-size: 35px; font-family: 'Times New Roman', Times, serif;">Resume</center>
        <img src="../static/images/resu.jpg" width="100px" height="100px" >
    <h1 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">Santhosh S</h1> 
    <h3 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">Mobile:+91-7339648119</h3>
    <h3 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">E-mail: santhosh19050@gmail.com</h3>
    <h3 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">PROFILE SUMMARY</h3>
    <P style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">Ambitious and self-esteemed engineering fresher who is capable of applying technical skills for the improvement of the company. Improved my skills with the help of graduation in Computer Engineering and looking forward to work in a competitive environment that can boost my overall learning.</P>
    <h3 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">EDUCATION</h3>
    <ul>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">B.E from Adhiyamaan College of Engineering(CGPA 7.76/10)</li>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">12th from SKV Higher Secondary School with 73.75%</li>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">10th from SKV Matriculation School with 96.6%</li>
    </ul>
    <h3 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">TECHNICAL SKILLS</h3>
    <ul>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">Languages: C,C++,JAVA,HTML</li>
    </ul>
    <h3 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">PROJECT</h3>
    <ul>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">MINI PROJECT-Online News Distribution System</li>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">MAIN PROJECT-Real-Time Facemask Recognition using Deep Learning</li>
    </ul>
    <h3 style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">LANGUAGES KNOWN</h3>
    <ul>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">Tamil</li>
        <li style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">English</li>
    </ul>

    </body>
</html>