<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        
       
    </head>
    <body style="background-image: url(../static/images/pic6); background-repeat: no-repeat; background-size: cover;">
        <center><span style="color: tomato; font-size: 50px; font-family: 'Times New Roman';">Have</span>
            <span style="color: black; font-size: 50px; font-family: 'Times New Roman';">.</span>
            <span style="color: palevioletred; font-size: 50px; font-family: 'Times New Roman';">A</span>
            <span style="color: black; font-size: 50px; font-family: 'Times New Roman';">.</span>
            <span style="color: aqua; font-size: 50px; font-family: 'Times New Roman';">Look!!</span>       
        
        </center>
    
           <img src="../static/images/pic1.jpg" width="600" height="400">
           <img src="../static/images/pic2" width="600" height="400">
        
           <img src="../static/images/pic3.jpg" width="600" height="400">
           <img src="../static/images/pic5.jpg" width="600" height="400">
    </body>
</html>