<!DOCTYPE html>
<html>
    <head>
        <title>PEAK HOTELS</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        
    </head>
    <body style="background-image: url('../static/images/bg\ front.jpg');">
        
        <div class="topnav">
            <a href="../templates/about.html" target="_blank">About</a>
            <a href="../templates/contact.html" target="_blank">Contact</a>
            <a href="../templates/book.html" target="_blank">Book Now</a>
            <a href="../templates/rooms.html" target="_blank">Rooms</a>
            <a href="../templates/gallery.html" target="_blank">Gallery</a>
            <a class="active" href="../templates/home.html">Home</a>
            <h2><img src="../static/images/mount1.png" width="150px" height="75px">PEAK HOTELS</h2>
             
        </div>

        <center><h1 style="font-size: 50px;font-family: 'Times New Roman', Times, serif;color: aliceblue;">WELCOME</h1></center>
        <center><h3><span style="font-size:130%;color:yellow;">&starf;  &starf;  &starf;  &starf;  &starf;</span></center></h3><br />


        <div class="log">
            <form action="../templates/dashboard.html">
           <b><center><label style="color: yellow; font-family: Times New Roman; font-size: 20px;">Username:</label></b>
            <input type="text" placeholder="enter your user name" required>
            <br><br>

           <b><label style="color: yellow; font-family: Times New Roman; font-size: 20px;">Password:</label></b>
           <input type="password" placeholder="Password" required>
           <br><br>

           <input type="checkbox"><label style="color: yellow; font-family: Times New Roman; font-size: 15px;">Remember me</label>
           <label><input type="submit"></label>
        </center><h4 style="font-size: 20px;"><a href="../templates/register.html">New User!!</a></h4>
    </form>
        </div>

        <br>
        <br>
        <div class="bot">
            <div class="column">
                <center><img src="../static/images/qt.png" width="50px" height="50px"></center>
                <center><h3>Qualified Team</h3></center>
                <center><p>We employ the best people in the hospitality<br>industry that are highly qualified <br>and treat our guests kindly.</p></center>
            </div>
            <div class="column">
                <center><img src="../static/images/res.png" width="85px" height="50px"></center>
                <center><h3>Restaurant</h3></center>
                <center><p>Feel free to visit our restaurant to enjoy<br>the best dishes and appetizers as well as exclusive dishes from our chef.</p></center>
            </div>
            <div class="column">
                <center><img src="../static/images/spa.png" width="85px" height="50px"</center>
                <center><h3>SPA Salon</h3></center>
                <center><p>Indulge yourself with the best relaxation <br>available at our hotel's SPA salon. Trust us,you<br>won't regret!</p></center>
            </div>
            
        </div>
    </body>
</html>