<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style="background-image: url(../static/images/dash.jpg); background-repeat: no-repeat; background-size: 100%;" ></body>
    <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px; color: greenyellow;"><img src="../static/images/mount1.png" width="125px" height="73px">PEAK HOTELS</h2>
    <center><h1 style="color: goldenrod; font-family: 'Times New Roman', Times, serif;">Sign Up Here!!</h1></center><br><br>
    <div class="sign">
        <form action="../templates/home.html">
        <center><label>FirstName:</label>
        <input type="text" required><br><br>
        <label>LastName:</label> 
        <input type="text" required><br><br>
        <label>Email ID:</label>
        <input type="email" required><br><br>
        <label>Password</label>
        <input type="password" required><br><br>
        <input type="submit">
    </form>
    </center>   
    </div>
</html>