<!DOCTYPE html>
<html>
    <head>
        <title>Rooms</title>
    </head>
    <body style="background-image: url(../static/images/room.jpg); background-repeat: no-repeat; background-size: cover;">
        <center><h1 style="color:#49e3d4 ; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rooms & Suites</h1></center>

        <center><img src="../static/images/r1.jpg" width="500" height="350">
        <img src="../static/images/r2.jpg" width="500" height="350">
        
        <img src="../static/images/r3.jpg" width="500" height="350">
        <img src="../static/images/r4.jpg" width="500" height="350"></center>
    </body>
</html>